Consider aligning with OAuth Token Exchange

The task that Conch is performing is very similar to the concepts in [OAuth 2.0 Token Exchange](https://datatracker.ietf.org/doc/html/rfc8693). We should review and see if it makes sense to make Conch compliant.

This could be done as an option alongside the existing API. It will possibly only add new endpoints (and maybe configuration) without affecting compatibility with existing clients.

I think we will need to add:
- A Token Endpoint ([RFC 6749 Section 3.2](https://datatracker.ietf.org/doc/html/rfc6749#section-3.2)), e.g `/token` or `/protocol/openid-connect/token`. Per [RFC 8693 Section 2.1](https://datatracker.ietf.org/doc/html/rfc8693#section-2.1) the following arguments would be accepted:
  - `resource`, `audience`, `scope` together define what the token is for. They are all optional, but we could use them to allow token specific to one cluster (via e.g. `resource=ssh:aip2.isambard`), or certain projects (via e.g. `scope=b5a`).
  - `requested_token_type` is optional, but if set should probably only work with `urn:ietf:params:oauth:token-type:jwt` (see #74)
  - `subject_token` would be the token from the OIDC issuer
  - `subject_token_type` I think should be `urn:ietf:params:oauth:token-type:access_token`
- The [response](https://datatracker.ietf.org/doc/html/rfc8693#name-response) should contain:
  - `access_token` will be the SSH certificates themselves. We probably want this to be the full Conch JSON response with the ID mappings as well as the certificates themselves as there is useful information in there. It will also aid compatibility.
  - `issued_token_type` should be `urn:ietf:params:oauth:token-type:access_token`
  - `token_type` is a vendor-specific value (per [RFC 6749 Section 8.1](https://datatracker.ietf.org/doc/html/rfc6749#section-8.1)) and we could set it to something like `conch:certificate`.
  - `expires_in` should match the expiry of the SSH certificates.
  - `refresh_token` will not be supported for now.
- [RFC-compatible error format](https://www.rfc-editor.org/rfc/rfc6749#section-5.2)


A sticking point is that there does not appear to be a way to pass in the SSH public key that should be signed. The token exchange would need to based entirely on the contents of the passed token, which would therefore need to contain the SSH public key in the JWT.

One possible option would be to make the `subject_token` be a JSON which contains both the access token and also the SSH public key.

An alternative would be to have the token exchange only work for access tokens which contain the SSH public key to sign in a claim. This would work for cases where the IdP has the public keys stored and can place them into the access token JWT.